<header class="header-block light-fixed-element">
    <div class="container">
        <div class="header">
            <div class="header-logo">
                <a href="/" class="logo"><img src="images/dist/red-logo.svg" alt="FLAMAX"></a>
            </div>
            <div class="header-menu">
                <ul class="menu">
                    <li class="menu-item"><a href="#">Сборные резервуары</a></li>
                    <li class="menu-item"><a href="#">Насосные станции</a></li>
                    <li class="menu-item"><a href="#">Пожарная безопасность</a></li>
                    <li class="menu-item"><a href="#">Сервис</a></li>
                    <li class="menu-item"><a href="#">Проектировщикам</a></li>
                </ul>
            </div>

            <div class="header-search">
                <div class="search-btn btn-open-modal" data-action="open-menu">
                    <svg  width="13" height="13">
                        <use xlink:href="images/dist/icons/svg-icons-sprite.svg#search-icon"></use>
                    </svg>
                </div>
            </div>

            <div class="header-phone">
                <div class="phone-unit">
                                <span class="phone-icon">
                                    <svg  width="12" height="12">
                                        <use xlink:href="images/dist/icons/svg-icons-sprite.svg#phone-icon"></use>
                                    </svg>
                                </span>
                    <a href="tel:88802006269 " class="phone-label">8 880 200 62 69 </a>
                </div>
            </div>

            <div class="header-control">
                <a href="#" class="btn-user btn-user-outline btn-outline-white btn-user-middle btn-open-modal"  data-action="open-calc">
                    <span class="btn-inner">Заказать расчет</span>
                </a>
            </div>

            <div class="header-btn-menu">
                <a href="javascript:void(0)" class="btn-menu btn-open-modal"  data-action="open-menu"></a>
            </div>
        </div>
    </div>
</header>