<div class="page-modal-outer page-modal-menu" id="modal-menu">
    <div class="container page-modal-inner">
        <div class="page-modal-header fx-0">
            <div class="page-modal-header-logo">
                <img src="images/dist/red-logo.svg" alt="" width="106" height="15">
            </div>
            <div class="page-modal-header-search">
                <div class="search-panel">
                    <input type="text" placeholder="Поиск" class="search-input">
                    <button class="btn-search">
                        <img src="images/dist/icons/form-search-icon.svg" alt="" width="13" height="13">
                    </button>
                </div>
            </div>
            <div class="page-modal-header-controls">
                <div class="unit-control-icon login-icon-control">
                    <img src="images/dist/icons/login-icon.svg" alt="" width="13" height="15">
                </div>
                <div class="unit-control-icon exit-icon-control btn-modal-outer-close" data-closable="true">
                    <img src="images/dist/icons/close-icon.svg" alt="" width="10" height="10">
                </div>
            </div>
        </div>

        <div class="page-modal-body fx-1 page-modal-pad-left">
            <div class="page-menu-wrap">
                <div class="main-menu-list page-menu-wrap-item">
                    <div class="main-menu-item">
                        <div class="main-menu-item-head text-slice-block">
                            <p class="main-menu-item-head-value text-slice-inner"><a href="#">Сборные резервуары</a></p>
                            <div class="drop-icon"><img src="images/dist/icons/drop-select-icon.svg" alt="" width="17" height="10"></div>
                        </div>
                        <div class="main-menu-item-body">
                            <ul class="main-submenu-list">
                                <li class="main-submenu-item"><a href="#">Пожарные резервуары</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары питьевого запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары совмещенного запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Другая продукция</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu-item">
                        <div class="main-menu-item-head text-slice-block">
                            <p class="main-menu-item-head-value text-slice-inner"><a href="#">Насосные станции</a></p>
                            <div class="drop-icon"><img src="images/dist/icons/drop-select-icon.svg" alt="" width="17" height="10"></div>
                        </div>
                        <div class="main-menu-item-body">
                            <ul class="main-submenu-list">
                                <li class="main-submenu-item"><a href="#">Пожарные резервуары</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары питьевого запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары совмещенного запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Другая продукция</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-menu-item">
                        <div class="main-menu-item-head text-slice-block">
                            <p class="main-menu-item-head-value text-slice-inner"><a href="#">Пожарная безопасность</a></p>
                            <div class="drop-icon"><img src="images/dist/icons/drop-select-icon.svg" alt="" width="17" height="10"></div>
                        </div>
                        <div class="main-menu-item-body">
                            <ul class="main-submenu-list">
                                <li class="main-submenu-item"><a href="#">Пожарные резервуары</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары питьевого запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары совмещенного запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Другая продукция</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="main-menu-item">
                        <div class="main-menu-item-head text-slice-block">
                            <p class="main-menu-item-head-value text-slice-inner"><a href="#">Сервис</a></p>
                            <div class="drop-icon"><img src="images/dist/icons/drop-select-icon.svg" alt="" width="17" height="10"></div>
                        </div>
                        <div class="main-menu-item-body">
                            <ul class="main-submenu-list">
                                <li class="main-submenu-item"><a href="#">Пожарные резервуары</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары питьевого запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары совмещенного запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Другая продукция</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="main-menu-item">
                        <div class="main-menu-item-head text-slice-block">
                            <p class="main-menu-item-head-value text-slice-inner"><a href="#">Проектировщикам</a></p>
                            <div class="drop-icon"><img src="images/dist/icons/drop-select-icon.svg" alt="" width="17" height="10"></div>
                        </div>
                        <div class="main-menu-item-body">
                            <ul class="main-submenu-list">
                                <li class="main-submenu-item"><a href="#">Пожарные резервуары</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары питьевого запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Резервуары совмещенного запаса</a></li>
                                <li class="main-submenu-item"><a href="#">Другая продукция</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="alt-menu-list page-menu-wrap-item">
                    <li class="alt-menu-item"><a href="#">О компании</a></li>
                    <li class="alt-menu-item"><a href="#">Пресс-центр</a></li>
                    <li class="alt-menu-item"><a href="#">Вопросы</a></li>
                    <li class="alt-menu-item"><a href="#">Наши работы</a></li>
                    <li class="alt-menu-item"><a href="#">Отзывы</a></li>
                    <li class="alt-menu-item"><a href="#">Реквизиты</a></li>
                    <li class="alt-menu-item"><a href="#">Карьера</a></li>
                    <li class="alt-menu-item"><a href="#">Контакты</a></li>
                </ul>

                <div class="menu-contacts-section page-menu-wrap-item">
                    <div class="menu-contacts-list">
                        <div class="menu-contacts-list-section">
                            <div class="menu-contacts-item">
                                <a href="tel:+78002006269" class="menu-contacts-link">+7 800 200 62 69</a>
                            </div>
                            <div class="menu-contacts-item">
                                <a href="tel:+74956496269" class="menu-contacts-link">+7 495 649 62 69</a>
                            </div>
                        </div>
                        <div class="menu-contacts-list-section">
                            <div class="menu-contacts-item">
                                <a href="mailto:info@flamax.ru" class="menu-contacts-link">info@flamax.ru</a>
                            </div>
                            <div class="menu-contacts-item menu-contacts-social-item">
                                <div class="social-group dark-social-group social-group-alt-hover menu-contacts-socials-group ">
                                    <div class="social-group-item">
                                        <a href="#" class="soc-unit" target="_blank">
                                            <svg width="16" height="9">
                                                <use xlink:href="images/dist/icons/svg-icons-sprite.svg#soc-vk-icon"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="social-group-item">
                                        <a href="#" class="soc-unit" target="_blank">
                                            <svg width="12" height="12">
                                                <use xlink:href="images/dist/icons/svg-icons-sprite.svg#soc-inst-icon"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="social-group-item">
                                        <a href="#" class="soc-unit" target="_blank">
                                            <svg width="7" height="14">
                                                <use xlink:href="images/dist/icons/svg-icons-sprite.svg#soc-fb-icon"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="social-group-item">
                                        <a href="#" class="soc-unit" target="_blank">
                                            <svg width="16" height="12">
                                                <use xlink:href="images/dist/icons/svg-icons-sprite.svg#soc-youtube-icon"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="menu-contacts-btn-box">
                        <div class="menu-contacts-btn-item">
                            <a href="javascript:void(0)" class="btn-fill-accent btn-user btn btn-open-modal" data-action="open-comment" tabindex="-1">
                                <span class="btn-inner">подробнее</span>
                            </a>
                        </div>

                        <div class="menu-contacts-btn-item">
                            <a href="javascript:void(0)" class="btn-outline-dark btn-user-outline-fill-white btn-user-outline btn-user btn-start-icon btn  " tabindex="0">
                            <span class="btn-inner">
                                <i class="icon">
                                    <svg class="inline-svg-icon" width="10" height="9">
                                      <use xlink:href="images/dist/icons/svg-icons-sprite.svg#download-icon"></use>
                                    </svg>
                                 </i>
                                Скачать презентацию
                            </span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>

            <div class="page-live-search-layer">
                <ul class="live-search-list">
                    <li class="live-search-item">
                        <a href="#">Как крепится лестница резервуара?</a>
                    </li>
                    <li class="live-search-item">
                        <a href="#">Каким образом производится дезинфекция резервуаров для питьевой воды?</a>
                    </li>
                </ul>
            </div>

            <div class="page-search-layer">

                <p class="page-search-title">Часто ищут</p>

                <div class="page-search-wrap">
                    <div class="page-search-box">

                        <div class="page-search-item">
                            <div class="page-search-unit">
                                <a href="#" class="page-search-unit-link"></a>
                                <div class="page-search-unit-icon">
                                    <img src="images/dist/icons/find-section-icon-1.svg" alt="" width="37" height="26">
                                </div>

                                <p class="page-search-unit-title">
                                    Cервисное обслуживание сборных резервуаров
                                </p>

                                <div class="page-search-unit-anim-layer"></div>
                            </div>
                        </div>

                        <div class="page-search-item">
                            <div class="page-search-unit">
                                <a href="#" class="page-search-unit-link"></a>
                                <div class="page-search-unit-icon">
                                    <img src="images/dist/icons/find-section-icon-2.svg" alt="" width="30" height="28">
                                </div>

                                <p class="page-search-unit-title">
                                    Cервисное обслуживание насосных станций
                                </p>

                                <div class="page-search-unit-anim-layer"></div>
                            </div>
                        </div>

                        <div class="page-search-item">
                            <div class="page-search-unit">
                                <a href="#" class="page-search-unit-link"></a>
                                <div class="page-search-unit-icon">
                                    <img src="images/dist/icons/find-section-icon-3.svg" alt="" width="37" height="34">
                                </div>

                                <p class="page-search-unit-title">
                                    Cервисное обслуживание противопожарных систем
                                </p>

                                <div class="page-search-unit-anim-layer"></div>
                            </div>
                        </div>

                        <div class="page-search-item">
                            <div class="page-search-unit">
                                <a href="#" class="page-search-unit-link"></a>
                                <div class="page-search-unit-icon">
                                    <img src="images/dist/icons/find-section-icon-4.svg" alt="" width="37" height="26">
                                </div>

                                <p class="page-search-unit-title">
                                    Как осуществляется циркуляция воды в резервуаре?
                                </p>

                                <div class="page-search-unit-anim-layer"></div>
                            </div>
                        </div>

                        <div class="page-search-item">
                            <div class="page-search-unit">
                                <a href="#" class="page-search-unit-link"></a>
                                <div class="page-search-unit-icon">
                                    <img src="images/dist/icons/find-section-icon-5.svg" alt="" width="26" height="27">
                                </div>

                                <p class="page-search-unit-title">
                                    Каков срок службы <br> резервуаров?
                                </p>

                                <div class="page-search-unit-anim-layer"></div>
                            </div>
                        </div>

                        <div class="page-search-item">
                            <div class="page-search-unit">
                                <a href="#" class="page-search-unit-link"></a>
                                <div class="page-search-unit-icon">
                                    <img src="images/dist/icons/find-section-icon-6.svg" alt="" width="30" height="29">
                                </div>

                                <p class="page-search-unit-title">
                                    Какая гарантия на ваши резервуары?
                                </p>

                                <div class="page-search-unit-anim-layer"></div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="page-modal-footer fx-0  page-modal-pad-left">
            <div class="page-modal-footer-left">
                <p>© flamax.2021</p>
                <p><a href="#">Политика обработки персональных данных</a></p>
            </div>
            <div class="page-modal-footer-right">
                <p class="dev-company-unit">
                    <span class="dev-company-unit-label">Создание сайта</span>
                    <a href="#" class="dev-company-unit-logo"><img src="images/dist/mark-weber-logo.svg" alt=""></a>
                </p>
            </div>
        </div>
        <div class="bg-print-layer ov-h">
            <img src="images/dist/bg-print-modal.jpg" srcset="images/dist/bg-print-modal@2x.jpg 2x" alt="" >
        </div>
    </div>
</div>